In [1]:
from tabulate import tabulate
import numpy as np

df = np.array([[2,3],[4,7],[5,8]])
# df = list(df)
# print df

headers = list()
headers.append("dog")
headers.append("cat")
# headers = ['dog', 'cat']

with open('table.tex', 'w+') as f:
    f.write(tabulate(df, headers=headers, tablefmt="latex", floatfmt=".4f"))

In [2]:
lisa = np.array([[111,222],[333,444],[555,666],[777,888]])
with open('table.tex', 'a+') as f:
    f.write(tabulate(lisa, headers=headers, tablefmt="latex", floatfmt=".4f"))

In [3]:
import Table
with open('mytable.tex','w') as fout:
    t = Table.Table(6, justs='lrc', caption='Awesome results', label="tab:label")
t.add_header_row(['obj', 'X', '$\\beta$'])
col1 = ['obj1','obj2','obj3']
col2 = [0.001,0.556,10.56]   # just numbers
col3 = [[0.12345,0.1],[0.12345,0.01],[0.12345,0.001]]
t.add_data([col1,col2,col3], sigfigs=2)
t.print_table(fout)
fout.close()

ImportError: No module named Table

In [23]:
import pandas as pd
from pandas import DataFrame
import numpy as np

a = DataFrame(np.random.randint(0, 10, (3,4)), columns=['a', 'b', 'c', 'd'], index=['anne', 'bob', 'charlie'])
b = DataFrame(np.random.randint(10, 20, (2,4)), columns=['a', 'b', 'c', 'd'], index=['dave', 'egbert'])

c = pd.concat([a, b])
d = c.to_latex()

text_file = open("Output.tex", "w+")
text_file.write(d)
text_file.close()

In [21]:
a

         a  b  c  d
anne     9  4  8  0
bob      5  0  9  3
charlie  1  4  4  7

In [6]:
b

         a   b   c   d
dave    16  10  11  11
egbert  12  15  18  16

In [19]:
c

          a   b   c   d
anne      9   4   8   0
bob       5   0   9   3
charlie   1   4   4   7
dave     12  19  14  11
egbert   17  11  12  10

In [20]:
d

u'\\begin{tabular}{lrrrr}\n\\toprule\n{} &   a &   b &   c &   d \\\\\n\\midrule\nanne    &   9 &   4 &   8 &   0 \\\\\nbob     &   5 &   0 &   9 &   3 \\\\\ncharlie &   1 &   4 &   4 &   7 \\\\\ndave    &  12 &  19 &  14 &  11 \\\\\negbert  &  17 &  11 &  12 &  10 \\\\\n\\bottomrule\n\\end{tabular}\n'